amqp
annotated-types
anyio
asgiref
async-timeout
billiard
boto3
botocore
celery
certifi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
distro
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
drf-yasg
exceptiongroup
h11
httpcore
httpx
idna
inflection
jiter
jmespath
kombu
numpy
openai
packaging
prompt_toolkit
psycopg2-binary
pyasn1
pyasn1_modules
pydantic
pydantic_core
PyJWT
python-dateutil
python-dotenv
pytz
PyYAML
qdrant-client
redis
requests
rsa
s3transfer
six
sniffio
sqlparse
tqdm
typing_extensions
tzdata
uritemplate
urllib3
vine
wcwidth
